body{
    background-color: #140F33;
    background-image: url(Assets/businessbg.svg);
    background-size: cover;
  cursor: url('Assets/bc-cursor.svg'), auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 100px);
  margin-right: 10px;
  margin-bottom: -15px;
}

a{
    cursor: url('Assets/bc-cursor-hover.svg'), auto;
}

#water{
      grid-column: 2;
  grid-row: 8 / span 1;
  z-index: 2;
}

.waterfront{
width: 900;
align-self: center;
transform: translate(3px)
}

#social{
    width: 210px;
     display: flex;
  flex-direction: column;
  gap: 200px;
          grid-column: 1;
  grid-row: 5 / span 1;
}

#pipe{
    width: 500px;
          grid-column: 2;
  grid-row: 1 / span 1;
}

#cardthing{
    width: 280px;
          grid-column: 2;
  grid-row: 5 / span 1;
z-index: 1;
-ms-grid-column-align: center;
}

.hover-image{
    opacity: 0;
}

#linky{
    position: relative; 
  
}

.default-image, .hover-image{
    position: absolute;
    transition: opacity 0.1s ease-in-out;
}

#linky:hover .hover-image{
    opacity: 1;
}

#linky:hover .default-image{
    opacity: 0;
}

.hover-image2{
    opacity: 0;
}

#blu{
    position: relative; 
  
}

.default-image2, .hover-image2{
    position: absolute;
    transition: opacity 0.1s ease-in-out;
}

#blu:hover .hover-image2{
    opacity: 1;
}

#blu:hover .default-image2{
    opacity: 0;
}

.hover-image3{
    opacity: 0;
}

#cardthing{
    position: relative;
    justify-self: center;
    transform: translateY(20%);
}

.default-image3, .hover-image3{
    position: absolute;
    transition: opacity 0.1s ease-in-out;
}

#cardthing:hover .hover-image3{
    opacity: 1;
}



h4:hover{
    text-decoration-line: underline;
}

h1{
    color: #FCB040;
    font-family: "quokka-glitch-right", sans-serif;
font-weight: 700;
font-style: normal;
text-align: right;
font-size: 75px;
  grid-column: 3;

}

h2{
    color: #F1592A;
    font-family: "quokka-glitch-left", sans-serif;
font-weight: 700;
font-style: normal;
text-align: right;
font-size: 45px;
grid-column: 3;

}

h3{
    color: #3D6BE7;
    font-family: "argent-pixel-cf", sans-serif;
font-weight: 400;
font-style: italic;
text-align: right;
font-size: 35px;
text-decoration: underline;
text-underline-offset: 20px;
grid-column: 3;

}

h4{
    color: #3D6BE7;
    font-family: "argent-pixel-cf", sans-serif;
font-weight: 400;
font-style: normal;
text-align: right;
font-size: 35px;
grid-column: 3;
transform: translate(1010px,40px);
}

p{
        color: #3D6BE7;
    font-family: "argent-pixel-cf", sans-serif;
font-weight: 400;
font-style: italic;
text-align: right;
font-size: 19px;
grid-column: 3;
}
