body{
    background-color: #140F33;
    background-image: url(Assets/businessbg.svg);
    background-size: cover;
  cursor: url('Assets/bc-cursor.svg'), auto;
}

a{
    cursor: url('Assets/bc-cursor-hover.svg'), auto;
}

#water{
    width: 500px;
}

#social{
    width: 400px;
        display: grid;
    grid-template-columns: 1fr 1fr;
}

#pipe{
    width: 500px;
}

#cardthing{
    width: 250px;

}

.hover-image{
    opacity: 0;
}

#linky{
    position: relative; 
}

.default-image, .hover-image{
    position: absolute;
    transition: opacity 0.1s ease-in-out;
}

#linky:hover .hover-image{
    opacity: 1;
}

#linky:hover .default-image{
    opacity: 0;
}

.hover-image2{
    opacity: 0;
}

#blu{
    position: relative; 
}

.default-image2, .hover-image2{
    position: absolute;
    transition: opacity 0.1s ease-in-out;
}

#blu:hover .hover-image2{
    opacity: 1;
}

#blu:hover .default-image2{
    opacity: 0;
}

.hover-image3{
    opacity: 0;
}

#cardthing{
    position: relative; 
}

.default-image3, .hover-image3{
    position: absolute;
    transition: opacity 0.1s ease-in-out;
}

#cardthing:hover .hover-image3{
    opacity: 1;
}



h4:hover{
    text-decoration-line: underline;
}

h1{
    color: #FCB040;
    font-family: "quokka-glitch-right", sans-serif;
font-weight: 700;
font-style: normal;
text-align: right;
font-size: 75px;
}

h2{
    color: #F1592A;
    font-family: "quokka-glitch-left", sans-serif;
font-weight: 700;
font-style: normal;
text-align: right;
font-size: 45px;
}

h3{
    color: #3D6BE7;
    font-family: "argent-pixel-cf", sans-serif;
font-weight: 400;
font-style: italic;
text-align: right;
font-size: 35px;
text-decoration: underline;
text-underline-offset: 20px;
}

h4{
    color: #3D6BE7;
    font-family: "argent-pixel-cf", sans-serif;
font-weight: 400;
font-style: normal;
text-align: right;
font-size: 35px;
}

p{
        color: #3D6BE7;
    font-family: "argent-pixel-cf", sans-serif;
font-weight: 400;
font-style: italic;
text-align: left;
font-size: 20px;

}
